<div class="card-header">
    <div class="image">
        <img routerLink="home" [src]="logo1">
    </div>
    <div class="image2">
        <img routerLink="home" [src]="logo2">
    </div>
</div>
<section class="container-fluig">
    <nav class="navbar">
        <ul>
            <input type="text">
            <li><a routerLink="pesquisar">Pesquisar</a></li>
            <li><a routerLink="casos">Pais casos</a></li>
            <li><a routerLink="vacina">Taxa de Vacinacao</a></li>
        </ul>
    </nav>
</section>