<div class="card-header">
    <div class="image">
        <img routerLink="home" [src]="jsonpalceholder">
    </div>
</div>
<section class="container-fluig">
    <nav class="navbar">
        <ul>
            <li><a routerLink="posts">1 - Posts</a></li>
            <li><a routerLink="comments">2 - Comments</a></li>
            <li><a routerLink="albums">3 - Albums</a></li>
            <li><a routerLink="photos">4 - Photos</a></li>
            <li><a routerLink="todos">5 - Todos</a></li>
            <li><a routerLink="users">6 - Users</a></li>
        </ul>
    </nav>
</section>