<div class="card-header">
    <div class="image">
        <img routerLink="home" [src]="jsonpalceholder">
    </div>
</div>
<section class="container-fluig">
    <nav class="navbar">
        <ul>
            <li><a href="">1 Posts</a></li>
            <li><a href="">2 Comments</a></li>
            <li><a href="">3 Albums</a></li>
            <li><a href="">4 Photos</a></li>
            <li><a href="">5 Todos</a></li>
            <li><a href="">6 Users</a></li>
        </ul>
    </nav>
</section>